html {
    background-color: #001C30;
}

a {
    color:#DAFFFB;
}

h3 {
    color:#64CCC5;
}

* {
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color:#176B87;
}
